*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header nav ul
 {
	list-style:none; 
}

header nav ul li a
{
	float: left; 
	padding: 10px 20px; 
	display: block; 
	text-decoration: none; 
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color:aqua;
}
body {
    background: url(..//multimedia/fondo.jpg);
    background-size: cover;
}
.box{
    width: 500px;
    background: rgba(0, 0, 0, .4);
    margin: 0 auto;
    margin-top:  4%;
    padding: 20px;
    color:rgb(245, 245, 245);
    text-align: center;
}
.box-img{
    border-radius: 50%;  
}
.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
    margin: 30px 0 20px;
}
.box h2{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
    margin-bottom: 20px;
}