*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header nav ul
 {
	list-style:none; 
}

header nav ul li a
{
	float: left; 
	padding: 10px 20px; 
	display: block; 
	text-decoration: none; 
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a:hover{
    color:aqua;
}
ul {
    margin-left: 3%;
}
.datospersonales {
    color: white;
    padding: 3%;
}
.estudios {
    color: white;
    padding: 3%;
}
.habilidades {
    color: white;
    padding: 3%;
    
}
